<%= javascript_pack_tag 'hello_react', defer: 'defer', media: 'all', 'data-turbolinks-track': 'reload' %>
<div id="app"></div>
<div id="user" data-user="<%= sanitize cookies.encrypted[:user_id] %>"></div>
